<div>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.IsThird"
                    For="texteditSyncFrequency"
                    Class="text-right"
                    >Частота оновления RSS ленты</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsAuto">
            <TextEdit Class="w-100" Placeholder="Введите частоту обновления..." id="texteditSyncFrequency"/>
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.IsThird"
                    For="checkboxFormatDescription"
                    Class="text-right">Форматировать описание cтатьи</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsAuto">
            <Check TValue="bool" id="checkboxFormatDescription"/>
        </FieldBody>
    </Field>
</div>