<div class="d-flex flex-nowrap align-content-center p-3 toprow">
    <Button Clicked="SidebarToggleClicked">
        <Icon Name="IconName.Bars" />
    </Button>
    <div class="d-inline-block flex-grow-1">
        <div class="d-flex align-content-center justify-content-center">
            <h3 class="d-inline">@Title</h3>
            <Button Clicked="SyncClicked">
                <Icon Name="IconName.Sync" />
            </Button>
        </div>
    </div>
    <Button Clicked="SettingsClicked">
        <Icon Name="IconName.Wrench" />
    </Button>
</div>
