@if (Items == null)
{
    <div class="h-100 w-100 content-center">
        <Icon Name="IconName.ExclamationTriangle" Class="error-icon" />
        <p>Ошибка при загрузке данных</p>
    </div>
}
else if (Items.Count() == 0)
{
    <div class="h-100 w-100 content-center">
        <Icon Name="IconName.ExclamationTriangle" Class="error-icon" />
        <p>Нет данных для отображения</p>
    </div>
}
else
{
    <div class="pb-30vh">
        @foreach (var item in Items)
        {
            <RssItemComponent Item="item" />
        }
    </div>
}